src/flows/testDataTypes.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>ParseInput</description>
        <name>ParseInput</name>
        <label>ParseInput</label>
        <locationX>355</locationX>
        <locationY>84</locationY>
        <actionName>FlowInputParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkFarmerCollection</targetReference>
        </connector>
        <inputParameters>
            <name>json</name>
            <value>
                <elementReference>inputJson</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>dataParsed</assignToReference>
            <name>flowData</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>aSSIGNItEMS</description>
        <name>aSSIGNItEMS</name>
        <label>aSSIGNItEMS</label>
        <locationX>593</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>textOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>farmerVariable.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CowCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>farmerVariable.cowInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>checkFarmerCollection</description>
        <name>checkFarmerCollection</name>
        <label>checkFarmerCollection</label>
        <locationX>247</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>farmerCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataParsed.farmers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataParsed.connectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cow</name>
        <label>Cow</label>
        <locationX>605</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>CowName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CowVariable.cowName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>joaoName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Joao</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckName</name>
        <label>CheckName</label>
        <locationX>591</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>loopCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NameJoao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>farmerVariable.name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>joaoName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCows</targetReference>
            </connector>
            <label>NameJoao</label>
        </rules>
    </decisions>
    <description>testDataTypes</description>
    <interviewLabel>testDataTypes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testDataTypes</label>
    <loops>
        <description>loopCollection</description>
        <name>loopCollection</name>
        <label>loopCollection</label>
        <locationX>343</locationX>
        <locationY>371</locationY>
        <assignNextValueToReference>farmerVariable</assignNextValueToReference>
        <collectionReference>farmerCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>aSSIGNItEMS</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopCows</name>
        <label>LoopCows</label>
        <locationX>351</locationX>
        <locationY>662</locationY>
        <assignNextValueToReference>CowVariable</assignNextValueToReference>
        <collectionReference>CowCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cow</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>ParseInput</startElementReference>
    <status>Active</status>
    <variables>
        <description>CowCollection</description>
        <name>CowCollection</name>
        <apexClass>CowDataType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>CowVariable</description>
        <name>CowVariable</name>
        <apexClass>CowDataType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>dataCollection</description>
        <name>dataCollection</name>
        <apexClass>FlowInputParser</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>dataParsed</description>
        <name>dataParsed</name>
        <apexClass>FlowInputParser</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>farmerCollection</description>
        <name>farmerCollection</name>
        <apexClass>FarmerDataType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>farmerVariable</description>
        <name>farmerVariable</name>
        <apexClass>FarmerDataType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>input</description>
        <name>inputJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
